@font-face {
  font-family: 'droid';
  src: url("../../fonts/droid-sans/droidsans-webfont.woff2") format("woff2"), url("../../fonts/droid-sans/droidsans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'droid_bold';
  src: url("../../fonts/droid-sans/droidsans-bold-webfont.woff2") format("woff2"), url("../../fonts/droid-sans/droidsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "droid"; }

.f-right {
  float: right; }

.inner-wrap {
  width: 80%;
  margin: 0 auto; }

.hidden, .visit-content-wrap, .visit-details-div {
  display: none; }

.visible {
  display: block; }

ul li {
  list-style-type: none; }

p, a {
  font-family: "droid";
  font-size: 18px;
  color: black; }

h1, h2, h3, h4, h5, h6 {
  font-family: "droid_bold"; }

.outer-wrap {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column; }

button {
  border: none;
  background: none; }

input.ng-dirty.ng-valid {
  box-shadow: inset 0 0 3px #0072bc; }

input.ng-dirty.ng-invalid {
  box-shadow: inset 0 0 3px red; }

.form-section {
  width: 97%;
  margin: 1em auto 0 auto;
  border: 2px solid black;
  padding: 2em; }

.visit-details--col {
  flex: 1; }

.visit-details--col.col-1 {
  order: 1; }

.visit-details--col.col-2 {
  order: 2; }

header {
  order: 1;
  display: flex;
  flex-direction: row; }

navigation {
  order: 2;
  flex: 1; }

navigation nav {
  background-color: white; }

navigation ul {
  list-style-type: none; }

navigation ul li a:first-child {
  padding-left: 0; }

navigation ul li a {
  font-size: 1.4em;
  text-decoration: none;
  display: block;
  padding: .5em 1em;
  cursor: pointer;
  transition: all .5s; }

navigation ul li a:hover {
  color: #0072bc; }

#home-wrap {
  background-image: url("/img/refugee-camp-2017-2.jpg");
  background-size: cover;
  background-repeat: no-repeat; }

#home-wrap .inner-wrap {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%; }

#home-wrap .logo-head {
  font-weight: bold;
  font-size: 2em;
  padding-bottom: .5em; }

.logo-head, .logo-text {
  color: white; }

.logo-text {
  text-align: center;
  font-size: 1.2em;
  max-width: 30em;
  padding-bottom: 2em; }

#login-wrap {
  order: 1;
  border-radius: 10px;
  background: #eeeff0;
  padding: 2em 0em 3em 0em;
  text-align: center;
  width: 25%;
  min-height: 20em; }

#login-wrap form {
  width: 90%;
  margin: 0 auto; }

.form-err-msg {
  margin: 1em 0; }

#login-wrap input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

#login-wrap input[type="text"], #login-wrap input[type="email"], #login-wrap input[type="password"] {
  outline: none;
  margin: .7em 0;
  padding: 1em;
  width: 90%;
  font-size: 1em; }

#login-wrap input[type="submit"] {
  border: none;
  background-color: #0072bc;
  font-family: "droid";
  font-size: 1em;
  color: white;
  padding: .7em 2em;
  display: block;
  min-width: 50%;
  margin: 2em auto 1em auto;
  text-align: center; }

#login-wrap #create-account-link {
  display: block;
  margin: 1em auto;
  font-size: 1em;
  color: #0072bc; }

#header-elements {
  order: 1;
  flex: 1; }

.header-elements--inner {
  height: 100%; }

.header-elements--logo {
  display: inline; }

.hamburger-wrap {
  display: inline-block;
  margin: 12px 0 -6px 15px; }

.bar-1, .bar-2, .bar-3 {
  height: 3.5px;
  width: 30px;
  background-color: black;
  margin: 6px 0;
  transition: all 0.5s; }

.bar-1.change {
  transform: rotate(-45deg) translate(-6px, 5px); }

.bar-2.change {
  opacity: 0; }

.bar-3.change {
  transform: rotate(45deg) translate(-9px, -7px); }

#main-outer {
  order: 2;
  flex: 3;
  overflow-y: scroll; }

.welcome-panel {
  position: absolute;
  height: 100%;
  width: 30%;
  background-color: white;
  box-shadow: 2px 0 14px grey;
  z-index: 100; }

.welcome-panel--content {
  margin-top: 50px; }

.welcome-panel-content--greeting {
  margin-bottom: 13px; }

#welcome-panel--close {
  float: right;
  font-size: 25px;
  font-weight: bold;
  padding: 1em; }

.welcome-panel p:first-child {
  margin-top: 0; }

.welcome-panel p {
  font-size: 14px;
  margin-top: 10px; }

.btn.welcome-panel--print-visit-btn, #form-error-modal-text-wrap button.welcome-panel--print-visit-btn, .welcome-panel--print-visit-btn.visit-btn {
  margin: 3em auto;
  display: block;
  padding: 1em 2em 2em 2em; }

.village-select {
  min-width: 18%;
  margin: 3%;
  padding: .3em;
  font-size: 1.3em; }

.village-select:first-child {
  margin-left: 0; }

main {
  display: flex;
  flex-direction: row; }

#map-wrap {
  order: 1;
  flex: 1;
  display: flex;
  flex-direction: column; }

#map-wrap--inner {
  min-width: 10em; }

#map-wrap--map {
  order: 1;
  min-width: 10em;
  height: 20em;
  margin: 2em 0;
  position: fixed; }

#map-wrap--details {
  order: 2; }

#visit-btn-wrap {
  order: 2;
  flex: 2;
  margin: 2em; }

#village-form-btn-wrap {
  order: 3;
  margin-bottom: 5em; }

.modal, #villages-modal {
  overflow-x: hidden;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(26, 26, 26, 0.9); }

#villages-modal {
  padding-bottom: 5em; }

#modal-inner {
  position: relative; }

.modal-exit {
  color: #E1E1E1;
  position: fixed;
  right: 0;
  margin: .5em 2em;
  font-size: 2.5em;
  transition: color 1s; }

.modal-exit:hover {
  cursor: default;
  color: white; }

visit-form form {
  margin-top: 1em;
  background-color: white;
  padding: 1.6em 0;
  position: relative; }

visit-form h3, #form-print-modal-inner h3 {
  margin: .5em 0 1em 0;
  font-size: 1.3em; }

visit-form #header-form-head {
  margin-bottom: .1em; }

visit-form label, visit-form input, visit-form textarea {
  margin: .25em 0; }

visit-form textarea {
  width: 70%;
  min-height: 6em; }

visit-form input[type="text"], visit-form input[type="number"], visit-form input[type="email"], visit-form select, visit-form textarea {
  border-radius: 8px;
  border: 0.5px solid #E1E1E1;
  outline: none;
  text-indent: .5em;
  font-size: 1em;
  padding: .1em 0; }

visit-form input[type="radio"], visit-form input[type="checkbox"] {
  margin: .25em .4em; }

visit-form .optionGroup {
  margin: .4em 0; }

visit-form .label-small {
  font-size: 1em; }

visit-form .label-reg {
  font-size: 1.25em; }

visit-form #submit-btn-wrap {
  width: 97%;
  margin: 2em auto; }

visit-form button[type="submit"] {
  border: 2px solid black;
  background-color: white;
  padding: 1em;
  font-size: 1.25em; }

#form-error-modal-text-wrap {
  width: 50%;
  min-height: 16em;
  margin: 6em auto;
  background-color: white;
  border-radius: 12px;
  border: 1px solid black;
  text-align: center; }

#form-error-modal-text-wrap p {
  margin: 3em auto;
  max-width: 13em; }

#form-error-modal-text-wrap button {
  width: 10em; }

.recent-visit:first-child {
  padding-top: .5em; }

.recent-visit {
  padding: .2em 0;
  transition: all .5s; }

.recent-visit:hover {
  color: #0072bc; }

.btn, #form-error-modal-text-wrap button, .visit-btn {
  height: 2.5em;
  font-size: 1em;
  border: 2px solid black;
  background-color: white;
  margin-top: .5em;
  transition: all 1s linear; }

.btn-active, .btn:hover, #form-error-modal-text-wrap button:hover, .visit-btn:hover {
  background-color: #0072bc;
  color: white; }

.visit-btn:last-child {
  margin-bottom: 2em; }

.visit-content-wrap {
  transition: all 1s; }

.visit-details-div {
  min-height: 10em;
  background-color: #DBE4EE;
  padding: 1.5em 0;
  border: 1px solid black;
  border-top: 0; }

.visit-details-div--inner {
  padding-left: 1em;
  display: flex;
  flex-direction: column; }

.sections-tab {
  margin-top: 1em;
  list-style-type: none;
  overflow: hidden;
  transition: all 1s; }

.sections-tab, .visit-details-div, .visit-btn {
  width: 97%; }

.sections-tab--item {
  float: left;
  display: block;
  padding: .7em .3em;
  margin: 0 auto;
  border-top: 1px solid black;
  border-right: 1px solid black;
  transition: all .7s;
  min-width: 5em;
  text-align: center; }

.sections-tab .sections-tab--item:first-child {
  border-left: 1px solid black; }

.sections-tab .sections-tab--item:hover {
  background-color: #DBE4EE; }

.selected-tab {
  background-color: #DBE4EE; }

.visit-details--qa-wrap, .section-content {
  order: 1;
  display: flex;
  flex-direction: row; }

.visit-details--question, .visit-details--commentary-btn, .visit-details-print--question {
  padding: .5em 0;
  font-family: "droid_bold";
  max-width: 20em; }

.visit-details--answer, .visit-details-print--answer {
  margin: .7em 0;
  display: block;
  font-family: "droid"; }

.visit-details--commentary-wrap {
  order: 2; }

.visit-details--commentary-btn {
  border: 2px solid black;
  padding: 1em;
  font-size: .8em; }

.visit-details--assistance-types-list {
  list-style-type: none; }

#form-print-modal {
  overflow: auto; }

print-visit-form .inner-wrap {
  width: 50%; }

#form-print-modal-inner {
  margin-top: 1em;
  background-color: white;
  padding: 1.6em 0;
  position: relative;
  display: flex;
  flex-direction: column; }

#form-print-modal-inner p {
  padding: .1em 0; }

#form-content h3 {
  text-decoration: underline;
  margin-bottom: 2em; }

.visit-details-print--question, .visit-details-print--answer {
  font-size: 15px; }

.visit-details-print--question {
  max-width: 16em; }

#visit-details-print--map--zoom {
  order: 2; }

#visit-details-print--map--outer {
  order: 1;
  flex: 2;
  margin: 1em auto 0 auto; }

.section-commentary .visit-details-print--question {
  max-width: none; }

.form-section.flexbox-section {
  display: flex;
  flex-direction: column; }

.section-head {
  order: 1; }

.section-content {
  order: 2; }

.section-commentary {
  margin-top: 3em;
  order: 3; }

#print-report-head {
  order: 1;
  display: flex;
  flex-direction: row; }

.header-form--sub-head {
  padding-top: 1em; }

#print-report-head--col-1, print-report-head--col-2 {
  display: flex;
  flex-direction: column; }

#print-report-head-text {
  order: 1;
  flex: 1;
  margin-bottom: 1em; }

#print-report-head-text h3:first-child {
  margin-bottom: .2em; }

.visit-details--map {
  max-width: 98%; }

#print-body {
  overflow: auto; }

#print-body .visit-details-print--question {
  font-size: 13px;
  max-width: 90%; }

#print-body .visit-details-print--answer {
  display: inline;
  font-size: 13px; }

#print-report-overview {
  order: 2; }

#print-report-shelter {
  order: 3; }

#print-report-infrastructure {
  order: 4; }

#print-report-protection {
  order: 5; }

#print-report-assistance {
  order: 6; }

#print-report-print-btn {
  height: auto;
  text-align: center;
  margin: 2em auto;
  order: 6;
  min-width: 10em;
  padding: 2em 4em; }

#print-body #map-zoom-wrap--img {
  margin-top: 1em; }

#print-body .inner-wrap {
  width: 100%; }

#print-body .form-section {
  width: 100%; }

#print-body h3 {
  font-size: 16px;
  text-decoration: underline;
  margin-bottom: 1em; }

footer {
  order: 3;
  width: 100%;
  background-color: black;
  min-height: 3em;
  position: relative; }

footer .inner-wrap {
  position: absolute;
  top: 50%;
  margin: 0 auto;
  transform: translateY(-50%); }

footer p {
  color: white;
  font-size: 14px; }

#print-html, #print-body {
  overflow: auto;
  height: auto;
  margin: auto; }

@media screen and (max-width: 1300px) {
  #login-wrap {
    width: 30%; }
  #visit-btn-wrap {
    flex: 1; }
  .sections-tab, .visit-details-div, .visit-btn {
    width: 100%; }
  .visit-content-wrap .sections-tab--item, .visit-content-wrap .visit-details--question, .visit-content-wrap .visit-details--commentary-btn, .visit-content-wrap .visit-details-print--question, .visit-content-wrap .visit-details--answer, .visit-content-wrap .visit-details-print--answer, .visit-details--assistance-types-item {
    font-size: 12px; } }
