@font-face {
  font-family: 'droid';
  src: url("../../fonts/droid-sans/droidsans-webfont.woff2") format("woff2"), url("../../fonts/droid-sans/droidsans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'droid_bold';
  src: url("../../fonts/droid-sans/droidsans-bold-webfont.woff2") format("woff2"), url("../../fonts/droid-sans/droidsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  background-color: #FFFFFF;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  font-family: "droid"; }

.f-right {
  float: right; }

.inner {
  width: 80%;
  margin: 0 auto; }

.hidden {
  display: none; }

.visible {
  display: block; }

p, a {
  font-family: "droid";
  font-size: 18px;
  color: black; }

h1, h2, h3, h4, h5, h6 {
  font-family: "droid_bold"; }

.outer-wrap {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column; }

button {
  border: none;
  background: none; }

input.ng-dirty.ng-valid {
  box-shadow: inset 0 0 3px #0072bc; }

input.ng-dirty.ng-invalid {
  box-shadow: inset 0 0 3px red; }

.form-section {
  width: 97%;
  margin: 1em auto 0 auto;
  border: 2px solid black;
  padding: 2em; }

visit-form form {
  margin-top: 1em;
  background-color: white;
  padding: 1.6em 0;
  position: relative; }

visit-form h3, #form-print-modal-inner h3 {
  margin: .5em 0 1em 0; }

visit-form #header-form-head {
  margin-bottom: .1em; }

visit-form label, visit-form input, visit-form textarea {
  margin: .25em 0; }

visit-form textarea {
  width: 70%;
  min-height: 6em; }

visit-form input[type="text"], visit-form input[type="number"], visit-form input[type="email"], visit-form select, visit-form textarea {
  border-radius: 8px;
  border: 0.5px solid #99a1a6;
  outline: none;
  text-indent: .5em;
  font-size: 1em;
  padding: .1em 0; }

visit-form input[type="radio"], visit-form input[type="checkbox"] {
  margin: .25em .4em; }

visit-form .optionGroup {
  margin: .4em 0; }

visit-form .label-small {
  font-size: 1em; }

visit-form .label-reg {
  font-size: 1.25em; }

visit-form #submit-btn-wrap {
  width: 97%;
  margin: 2em auto; }

visit-form button[type="submit"] {
  border: 2px solid black;
  background-color: white;
  padding: 1em;
  font-size: 1.25em; }
