<navigation></navigation>

    <div class="outer-wrap" id="villages-outer">

        <div class="inner-wrap" id="villages-inner">

            <div id="village-select-wrap">
                <select class="village-select" ng-model="vm.selectedOblast" ng-change="vm.getRayons()" ng-options="i.pcode as i.name for i in vm.oblasts" id="oblast">
                    <option value="">--Oblast--</option>
                </select>
                <select class="village-select"ng-model="vm.selectedRayon" ng-change="vm.getVillages()" ng-options="i.Admin2 as i.Name for i in vm.rayons track by i.Admin2" id="rayon">
                    <option value="">--Rayon--</option>
                </select>
                <select class="village-select" ng-model="vm.selectedVillage" ng-change="vm.selectVillage()" ng-options="i.Admin4 as i.Name for i in vm.villages track by i.Admin4">
                    <option value="">--Village--</option>
                </select>
            </div>
            <main>

                <div id="visit-btn-wrap">
                        <h3>{{vm.visitHeader}}</h3>
                        <div ng-repeat="i in vm.visitArray | orderBy:'-date'" id="visits-container">
                            <visit-details></visit-details>
                        </div>
                    <div ng-show="vm.villageDetails !== ''" id="village-form-btn-wrap "><button class="visit-btn" ng-click="vm.modalOpen('#villages-modal')">Submit a new Visit</button></div>
                </div>

                <div id="map-wrap">
                    <div id="map-wrap--inner">
                        <div id="map-wrap--map"></div>
                        <div id="map-wrap--details" ng-show="vm.villageDetails">
                            <p>Location: {{vm.villageDetails.Name}}</p>
                            <p>Estimated Population: {{vm.villageDetails.Population | number }}</p>
                        </div>
                    </div>
                </div>

            </main>
        </div>
    </div>
    <div class="hidden modal" id="villages-modal">
        <div id="modal-inner">
            <div class="inner-wrap">
                <span class="modal-exit" ng-click="vm.modalClose($event)">X</span>
                <visit-form></visit-form>
            </div>
<!--ERROR MODAL CONTENT-->
            <div class="hidden modal" id="form-error-modal">
                <div id="form-error-modal-text-wrap">
                    <p>{{ vm.formErrorMsg }}</p>
                    <button id="form-error-btn" ng-click="vm.modalClose($event)">Got it</button>
                </div>
            </div>
        </div>
    </div>

<!--PRINT VISIT MODAL-->
    <div class="hidden modal" id="form-print-modal">
        <span class="modal-exit" ng-click="vm.modalClose($event)">X</span>
        <print-visit-form></print-visit-form>
    </div>

<footer>
    <p>I am a footer</p>
</footer>