@import 'base';
//NAVIGATION DIRECTIVE

navigation {
  order: 1;
}

navigation nav {
  overflow: hidden;
  width: 100%;
  background-color: map_get($colors, gray);
  border-width: 4px 0 4px 0;
  //border-style: solid;
  //border-color: #DFDDDE;
}

navigation ul {
  list-style-type: none;
}

navigation ul li a:first-child {
  padding-left: 0;
}

navigation ul li a {
  font-size: 1.4em;
  text-decoration: none;
  display: block;
  padding: .5em 1em;
}


